*eps-converted-to.pdf
__latexindent_temp.tex
*.log
*.out
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.thm
main.pdf
*.synctex.gz
mdolab.bib
scitech2018.synctex.gz
aiaa-*
.DS_Store
*.pyc
*.fls
mdolab-link.bib
*.hst
xdsm.tex
xdsm.tikz
*.xdv